openapi: 3.0.0

info:
  description: >
    This is an example Swaggerfile describing an API. It describes a few typical
    constructs that would be useful when creating an application.
  version: 1.0.0
  title: Waffle Processing Machinery
  license:
    name: MIT

servers:
  - url: http://waffles.eventualconsistency.net/v1
  - url: https://waffles.eventualconsistency.net/v1

paths:
  /waffles:
    x-exegesis-controller: waffles
    get:
      operationId: getWaffleList
      tags:
        - Waffle Operations
      summary: List the types of Waffles known to the waffle making machine.
      responses:
        "200":
          x-gulp-openapi-code-generator-outcome: success
          description: List of waffle types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Waffle"
    post:
      operationId: bulkLoadWaffles
      summary: Bulk insert waffles for the system.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Waffle"
      responses:
        "200":
          x-gulp-openapi-code-generator-outcome: success
          description: Bulk upload success.
  "/waffles/{id}":
    x-exegesis-controller: waffles
    get:
      operationId: getWaffleById
      tags:
        - Waffle Operations
      summary: Fetch a single waffle type by id
      parameters:
        - name: id
          in: path
          required: true
          description: Id of waffle
          schema:
            type: number
      responses:
        "200":
          x-gulp-openapi-code-generator-outcome: success
          description: Specific waffle.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Waffle"
        "404":
          x-gulp-openapi-code-generator-outcome: notFound
          description: The waffle was not found
    patch:
      operationId: updateWaffleById
      summary: Update a single waffle type by id.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Waffle"
      responses:
        "200":
          x-gulp-openapi-code-generator-outcome: success
          description: Updated waffle.
        "404":
          x-gulp-openapi-code-generator-outcome: notFound
          description: The waffle was not found
  "/waffles/{id}/ingredients":
    x-exegesis-controller: waffles
    get:
      operationId: getIngredientsOfWaffle
      summary: Fetch ingredients for a single waffle type by id
      parameters:
        - name: id
          in: path
          required: true
          description: Id of waffle
          schema:
            type: number
      responses:
        "200":
          x-gulp-openapi-code-generator-outcome: success
          description: Specific waffle.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  schemas:
    Waffle:
      type: object
      description: A type of waffle known to the system.
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        ingredients:
          type: array
          items:
            $ref: "#/components/schemas/Ingredient"
    Ingredient:
      type: object
      description: A type of ingredient.
      required:
        - name
      properties:
        name:
          type: string
          description: Name of ingredient
        sellers:
          type: array
          items:
            type: string
